
html
{
	margin: 0;
	padding: 0;
}


body
{
	background: #fff;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}


#page
{
	width: 960px;
	padding: 30px 20px 100px 20px;
	margin: 0 auto 0 auto;
	/*background: rgb(238, 238, 238);*/
}


#page:after 
{
	content: "."; 
	display: block;
	height: 0;
	overflow: hidden;
	clear: both; 
	visibility: hidden;
}


header
{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
	background: rgb(238, 238, 238);
}


h1
{
	font-size: 4em;
	color: rgb(182, 51, 34);
	margin: 0;
	padding: 0;
	text-shadow: 5px 5px 5px #ccc;
}


h2
{
	font-size: 2.5em;
	margin: 40px 0 10px 20px;
	color: rgb(182, 51, 34);
}


ul#badge-list
{
	margin: 0 0 0 20px;
	padding: 0;
}


ul#badge-list li.badge
{
	list-style: none;
	width: 210px;
	height: 300px;
	margin: 25px 20px 0 0;
	padding: 0;
	float: left;
	border: 2px solid rgb(182, 51, 34);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 5px 5px 5px #ccc;
}


li.badge h3 a
{
	font-size: 1.5em;
	margin: 0;
	padding: 5px 8px 5px 8px;
	background: rgb(182, 51, 34);
	color: #fff;
	text-decoration: none;
	display: block;
	height: 60px;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}


li.badge h3
{
	margin: 0;
	padding: 0;

}


li.badge h3 a:hover
{
	background: #fff;
	color: rgb(182, 51, 34);
}


li.badge img
{
	float: left;
	padding: 0;
	margin: 15px auto 15px 50px;
}


li.badge p
{
	font-size: 1.2em;
	clear: both;
	margin: 0 10px 0 10px;
}


.single-badge
{
	list-style: none;
	width: 960px;
	margin: 25px 20px 0 0;
	padding: 0;
	float: left;
	border: 2px solid rgb(182, 51, 34);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 5px 5px 5px #ccc;
}


.single-badge h2
{
	font-size: 3em;
	margin: 0;
	padding: 15px 20px 10px 20px;
	background: rgb(182, 51, 34);
	color: #fff;
	display: block;
	height: 60px;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}


.single-badge img
{
	margin: 20px 40px 50px 20px;
	float: left;
}


.single-badge p
{
	margin: 50px 20px 20px 0;
	font-size: 2em;
}


#back
{
	color: rgb(182, 51, 34);
	font-size: 1.5em;
}


#back a
{
	color: rgb(182, 51, 34);
	text-decoration: underline;
}


#back a:hover
{
	color: rgb(182, 51, 34);
	text-decoration: none;
}






