body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #4c4c4c;
  background-color: #2aabe1;
}

a {
  color: #27aae1;
  text-decoration: none;
}

a:hover {
  color: #0092cf;
  text-decoration: underline;
}

section {
  margin-bottom: 40px;
  line-height: 1.5;
  font-size: 15px;
}

section h1 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}

li {
  margin: 5px 0 5px;
}

.wrapper {
  width: 1020px;
  margin: 20px auto 40px;
}

#header-group {
  width: 650px;
}

#teachingkit-banner {
  position: absolute;
  top: 30px;
  text-align: center;
  width: 200px;
  left: -60px;
  color: #fff;
  padding: 10px;
  background-color: #3fb58e;
  font-size: 18px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 6;
}

#header {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  color: #4c4c4c;
  background-color: #fff2cc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  min-height: 230px;
}

i {
  color: #3fb58e;
  font-size: 18px;
}

#header-content {
  z-index: 1;
  position: relative;
  left: 70px;
  margin: 40px 0;
}

#metadata {
  margin-top: 15px;
}

#header-img {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 180px;
  -webkit-align-self: center;
}

#header-img img {
  position: absolute;
  left: 45px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

#header h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
}

#header h2 {
  margin: 7px 0 0;
  font-size: 18px;
  font-weight: 300;
}

#header h2 a {
  color: ##27aae1;
}

#made-by {
  font-size: 15px;
}

#author {
  color: #27aae1;
  text-decoration: none;
}

#author:hover {
  text-decoration: underline;
}

#made-date {
  font-size: 13px;
}

.note-paper {
  width: 100%;
  height: 60%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: -webkit-linear-gradient(top, #ffdbc8 0%, #fff2cc 8%) 0 57px;
  background: -moz-linear-gradient(top, #ffdbc8 0%, #fff2cc 8%) 0 57px;
  background: linear-gradient(top, #ffdbc8 0%, #fff2cc 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
  border-bottom: 1px dotted #ccc;
}

.note-paper-side {
  border-left: 1px solid #ffdbc8;
  height: 100%;
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 5;
}

#content {
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2);
}

#left-side {
  padding: 40px 0 0 105px;
  width: 650px;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.step-section p {
  overflow: hidden;
  margin: 0;
  padding-bottom:10px;
}

.step-section img {
  float: left;
  margin-right: 15px;
  border-radius: 5px;
}

.step-section ol {
  padding-left: 10px;
  list-style-type: none;
  counter-reset: step-counter;
}

.step-section > ol > li {
  margin: 0;
  margin: 0 0 30px;
  position: relative;
}

.step-section > ol > li(:last-of-type) {
  margin: 0;
}

.step-section > ol > li > p {
  margin: 0;
}

.step-section ol > li:before {
  display: flex;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  position: absolute;
  left: -60px;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: #27aae1;
  font-weight: 700;
  border: 2px solid #27aae1;
  border-radius: 50%;
  content: counter(step-counter);
  counter-increment: step-counter;
}

.example-div {
  display: inline-block;
  box-sizing: border-box;
  background-color: #e3eaee;
  border-radius: 5px;
  padding: 15px;
  max-width: 345px;
  margin-top: 15px;
}

.example-div ul {
  padding-left: 10px;
  text-indent: -1em;
  list-style-position: inside;
  list-style-type: disc;
}

.example-div ul li {
  margin: 0;
  padding-bottom: 10px;
}

.small-checkbox-section input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}

.small-checkbox-section input[type=checkbox] + label:after {
  position: relative;
  display: inline-block;
  font-family: "FontAwesome";
  content: '\f096';
  font-size: 24px;
  color: #3fb58e;
  margin-right: 13px;
  width: 15px;
  top: 4px;
}

.small-checkbox-section input[type=checkbox]:checked + label:after {
  content: '\f046';
}

.small-checkbox-section li {
  line-height: 1.2;
}

.small-checkbox-section ul {
  list-style: none;
  padding-left: 0;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.small-checkbox-section div {
  padding: 5px 10px 10px;
  background-color: #e3eaee;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  max-width: 230px;
}

#right-side {
  padding: 45px 105px 0 20px;
  vertical-align: top;
  width: 365px;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tag-section {
  overflow: hidden;
  margin-bottom: 35px;
}

.tag-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-item {
  display: block;
  float: left;
  color: #fff;
  padding: 5px 15px; 
  margin: 0 5px 5px 0;
  background-color: #3fb58e;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.tag-item:hover {
  background-color: #20795b;
}

.tag-item a {
  color: #fff;
}

.tag-item a:hover {
  text-decoration: none;
}

.attention-section div {
  background-color: #fff2cc;
  padding: 15px;
  border-radius: 5px;

}

#agenda {
  overflow: hidden;
  position: relative;
}

#agenda ol {
  font-size: 1.2em;
  counter-reset: item;
  padding-left: 10px;
  background-color: #fff2cc;
  border-bottom: 1px dotted #ccc;
  position: relative;
  margin: 0;
}

#agenda ol li {
  list-style-type: none;
  border-bottom: 1px dotted #ccc;
  padding: 10px 10px 10px 0;
  margin: 0;
  margin-left: 30px;
}

#agenda ol li:last-child {
  border-bottom: none;
}

#agenda ol li:before {
  position: absolute;
  left: 17px;
  font-weight: 600;
  color: #777777;
  content: counter(item, decimal) ')';
  counter-increment: item;
}

.line {
  position: absolute;
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 100%;
  display: inline-block;
  margin-left: 10px;
  z-index: 1;
}

#resources {
  overflow: hidden;
}

#resources ul {
  font-size: 10px;
  padding-left: 15px;
}

#resources ul li {
  font-size: 10px;
}

#resources ul li a {
  font-size: 13px;
}

.big-green-title {
  color: #00be7a;
  font-size: 28px;
  font-weight: 300;
  margin-top: 0;
  
}

/* desktop @ 1520px */
@media (min-width: 1520px) {
  .wrapper {
    width: 1520px;
    margin: 20px auto;
  }

  #header-group {
    width: auto;
    max-width: 1050px;
  }

  #left-side {
    width: 850px;
    margin-right: 140px;
  }

  #right-side {
    width: 400px;
  }
}
